<div class="container">
<div id="grid">
  <div class="text-center casestudy1"></div>
  <div class="text-center casestudy3" style="background-image: url(https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"><h4 class="font-weight-bold">TribeofStudents </h4><h4>Student Entrepreneurs Platform</h4></div>
  <div class="text-center casestudy4" style="background-image: url(https://images.unsplash.com/photo-1541480551145-2370a440d585?ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80"> <h4 class="font-weight-bold">ASPA </h4><h4>Spa & Wellness Marketplace</h4></div>
  <div class="text-center casestudy4" style="background-image: url(https://images.unsplash.com/photo-1541480551145-2370a440d585?ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80"> <h4 class="font-weight-bold">ASPA </h4><h4>Spa & Wellness Marketplace</h4></div>
  <div class="text-center casestudy4" style="background-image: url(https://images.unsplash.com/photo-1541480551145-2370a440d585?ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80"> <h4 class="font-weight-bold">ASPA </h4><h4>Spa & Wellness Marketplace</h4></div>
  <div class="text-center casestudy4" style="background-image: url(https://images.unsplash.com/photo-1541480551145-2370a440d585?ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80"> <h4 class="font-weight-bold">ASPA </h4><h4>Spa & Wellness Marketplace</h4></div>
  <div class="text-center casestudy4" style="background-image: url(https://images.unsplash.com/photo-1541480551145-2370a440d585?ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80"> <h4 class="font-weight-bold">ASPA </h4><h4>Spa & Wellness Marketplace</h4></div>
</div>
</div>


<% if @feeling.number == '1'  %>

<% end  %>
